.product {
    display: flex;
    border-bottom: 1px solid #8080806b;
    margin: 5px;
    padding-bottom: 5px;
}

.product-name {
    margin-left: 10px;
    color: blue
}

.product-name button {
    background-color: orange;
    width: 150px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}