.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.header a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
.header a:hover{
    background-color: aliceblue;
    color: black;
}